/* css reset */
*{
    margin: 0;
    padding: 0;
    color: aliceblue;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 25vh;
    background-image: url('https://images3.alphacoders.com/133/thumb-1920-1332803.png');
    background-size: cover;
    background-position: center 60%;
    box-shadow: #ff0073 0px 2px 15px;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

/* Body */
body {
    background-color: #3a3a3a;
    background-image: url('img/1354199.jpeg');
    background-size: cover;
    background-attachment: fixed;
    height: auto;
  }

/* Separadores do Body 
(Informações e "Minhas recomendações) */
body>h3, body>h2{
    /* From https://css.glass */
    padding: 0.5rem;
    background: rgba(182, 182, 182, 0.22);
    border-radius: 0.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(255, 0, 123, 0.51);
}

/* Titulo da página */
h1{
    padding: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    text-align: center;
    text-shadow: #ff008c 3px 3px;
    font-family: 'Merienda', cursive;
}

/* Alinhamento de todos os H2 e H3 */
h2, h3{
    text-align: center;
}

/* Alinhamento das UL */
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Aparencia dos itens da lista*/
li{
    list-style: none;
    margin: 1.3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 0, 123, 0.5);
    background: rgba(182, 182, 182, 0.22);
}

/* Efeito de hover nos itens da lista */
li:hover{
    background-color: rgba(51, 0, 46, 0.5); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0px 30px rgba(255, 0, 225, 0.482);
}

/* Cor do link e fonte */
a{
    color: aquamarine;
    font-family: 'Merienda', cursive;
}

/* Efeito de Hover, mudança de cor no link */
a:hover{
    color: aqua;
}

/* Aparencias das Divs internas 
(div dentro de outra div) */
div>div{
    padding: 1.5rem;
    border: #ff008c 2px solid;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(255, 0, 0, 0.51);
}

/* Tamanho e aparencia das IMAGENS dos animes */
.anime img {
    width: 100%;
    max-width: 18.75rem;
    height: 31.25rem;
    border-radius: 16px;
    box-shadow: 0 2px 15px rgba(255, 0, 0, 0.5);
}

/* Tamanho e detalhes dos Paragrafos na lista de animes */
.anime p {
    text-shadow: #b33d3d 0px 2px;
    width: 100%;
    max-width: 25rem;
    border-radius: 16px;
    box-shadow: 0 2px 15px rgba(255, 0, 0, 0.5);
    padding: 10px;

}

/* Alinhamento e display da lista de animes */
.anime {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* Define o padrão dos containes dos animes 
(tamanho, espaçamento, alinhamento) */
.anime-container {
    display: flex;
    justify-content:space-evenly;
    gap: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
    text-align: center;
}

/* Aplica um efeiro de Blurr no body*/
body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1;
}

/* Estiliza o Footer com a imagem, sombra, e alinha os items e atributos*/
footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10rem;
        background-image: url('https://images3.alphacoders.com/133/thumb-1920-1332803.png');
        background-size: cover;
        background-position: center 60%;
        box-shadow: #ff0073 0px 2px 15px;
        border-radius: 0.5rem;
        margin-top: 1rem;
}

/* Estiliza o paragrafo do Footer com efeito de Blurr, e borda */
footer>p {
    padding: 0.9rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 0, 123, 0.5);
    background: rgba(182, 182, 182, 0.22);

}    

    /* FONTES */
.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 600;
    font-style: normal;
  }

.merienda-uniquifier {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
    /* FONTES */

